$black: #111111;
$blue: #5A61ED;
$grey: #F4F5FC;
$red: #FF2828;
$white: #FFFFFF;
$grey_special: #7C7C7C;
$light_grey: #F2F2F2;
$font_work_sans: "Work Sans", "Arial", sans-serif;
$font_pt_sans: "PT Sans", "Arial", sans-serif;
$tablet-width: 665px;
$mobile-width1: 530px;
$mobile-width: 320px;
